.mainContainer{
    margin: auto;
    display: flex;
    border: 3px solid black;
    flex-wrap: wrap;
    width: 500px;
    height:805px;
    border-radius: 5px;
}

#display{
    display: flex;
    width: 500px;
    height: 175px;
    font-size: 72px;
    align-items: flex-end;
    justify-content: flex-end;
    padding-right: 20px;
    border: 3px solid black;
}

.calcFunctions{
    text-align: center;
    line-height: 125px;
    width: 125px;
    height: 125px;
    font-size: 32px;
    border: 3px solid black;
    
}
button{
    border: none;
    background-color: white;
    border-radius: 0px;
}

#equals{
    background-color: lightcoral;
}