.mainContainer{
    margin: auto;
    display: flex;
    border: 3px solid black;
    flex-wrap: wrap;
    width: 503px;
    height:753px;
}

#display{
    display: flex;
    width: 500px;
    height: 125px;
    font-size: 72px;
    align-items: flex-end;
    justify-content: flex-end;
    padding-right: 20px;
}

.calcFunctions{
    text-align: center;
    line-height: 125px;
    width: 125px;
    height: 125px;
    font-size: 32px;
}